[submodule "src/lib/SSAtool"]
	path = src/lib/SSAtool
	url = https://github.com/EE-modders/SSA-tool.git
[submodule "src/lib/SSTtool"]
	path = src/lib/SSTtool
	url = https://github.com/EE-modders/SST-tool.git
[submodule "src/lib/SSTslicer"]
	path = src/lib/SSTslicer
	url = https://github.com/EE-modders/SST-image_slicer.git
