[Desktop Entry]
Name=EE Studio II
Version=1.0
Exec=com.github.EEmodders.EEstudioII
Icon=com.github.EEmodders.EEstudioII
Comment=Modding tool for Empire Earth
Type=Application
Terminal=false
StartupNotify=true
Categories=Utility;Viewer;
