Package: EE-Studio-II
Version: 0.2
Maintainer: zocker_160 <zocker1600@posteo.net>
Section: Utility
Homepage: https://github.com/EE-modders/Empire-Earth-Studio-2
Architecture: amd64
Priority: optional
Suggests: gdebi | gdebi-kde
Depends: python3 (>=3.5), python3-pip, python3-pyqt5
Description: Tool for modding Empire Earth
 Empire Earth Studio II is a modding tool for Empire Earth made by zocker_160 that allows you to view SST / TGA images, split them and unpack SSA archives.