[Desktop Entry]
Name=EE Studio II
Exec=EEStudio2 %f
Comment=Modding tool for Empire Earth
Icon=eestudio
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Utility;Viewer;
X-AppImage-Version=0.2.3
